*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-image: url(image/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navigation{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo i{
    font-size: 30px;
    color: white;
    margin-left: 120px;
}
.navigation ul{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.navigation ul li{
    list-style: none;
    padding-left: 80px;
    font-size: 22px;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.navigation ul li a:hover{
   color: black;
}
.navigation input{
    margin-left: 160px;
    margin-right: 15px;
    padding: 10px 0 10px 15px;
    font-size: 18px;
    border-radius: 7px;
}
.navigation input:focus{
    background-color: rgb(8, 8, 166);
    color: white;
}
.navigation button{
   padding: 5px 30px;
   font-size: 18px;
   border-radius: 7px;
   background-color: blue;
   color: white;
   transition: 0.5s;
}
.navigation button:hover{
    background-color: rgb(8, 8, 166);
}

/* hero area part  */


.hero-area-container{
    text-align: center;
    padding-top: 120px;
    color: white;
}
.hero-area-container h4{
    font-size: 23px;
    margin-bottom: 30px;
}
.hero-area-container h4 i{
   color: gold;
}
.hero-area-container h2{
    font-size: 48px;
    margin-bottom: 30px;
}
.hero-area-container p{
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 50px;
}
.hero-area-container button{
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 7px;
    background-color: blue;
    color: white;
    border-color: rgb(8, 8, 166);
    margin-right: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    transition: 0.3s;
}
.hero-area-container button:hover{
    background-color:rgb(8, 8, 166);
    border-color: rgb(8, 8, 166);
}


/* service section start  */

.service-sec-container{
    margin-top: 70px;
}
.service-sec-container h3{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 3px dotted rgba(0, 0, 0, 0.213);
    
}
.service-sec-content{
    margin-top: 50px;
    display: flex;
}
.service-sec-img img{
    margin-left: 160px;
    width: 400px;
    height: 580px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray, -5px -5px 10px gray;
}
.service-sec-parent{
    margin-left: 80px;
}
.service-sec-parent p{
    font-size: 17px;
    line-height: 30px;
    margin-right: 100px;
}
.service-sec-wrap{
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
}
.service-sec-items-1{
    font-size: 17px;
    line-height: 30px;
    margin-top: 60px;
}
.service-sec-items-2{
    margin-left: 80px;
}
.service-sec-items-2 h4{
    font-size: 23px;
    font-weight: 200;
    margin-bottom: 15px;
}
.service-sec-items-2 ul{
    font-size: 17px;
    margin-left: 18px;
}
.service-sec-items-2 ul li{
    line-height: 30px;
}


/* section-2 code  */


#section-2{
    background-color: #2c2929;
    margin-top: 100px;
    margin-bottom: 80px;
}
.sec-2-container{
    width: 1000px;
    padding-top: 50px;
    margin-left: 250px;
}
.sec-2-container .h3{
    text-align: center;
    font-size: 40px;
    color: white;
    border-bottom: 3px dotted rgba(255, 255, 255, 0.259);
    padding-bottom: 20px;
}
.sec-2-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 80px;
}
.sec-2-parent{
    width: 320px;
    height: 380px;
    text-align: center;
    margin-top: 60px;
    background-color: rgb(72, 72, 246);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray, -2px 2px 10px gray;
    transition: 0.3s;
}
.sec-2-parent h3{
    font-size: 23px;
    color: white;
    padding: 30px 0 20px 0;
}
.sec-2-parent p{
    font-size: 15px;
    color: white;
    line-height: 30px;
    padding: 0 25px;
}
.sec-2-parent:hover{
    background-color: rgb(8, 8, 166);
}


/* section-3 code  */

.sec-3-container{
    width: 1200px;
    margin-left: 150px;
}
.sec-3-container h3{
    text-align: center;
    font-size: 40px;
    border-bottom: 3px dotted rgba(0, 0, 0, 0.383);
    padding-bottom: 20px;
}
.sec-3-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.sec-3-parent{
    background-color: #fff;
    box-shadow: 2px 2px 5px gray, 2px -2px 5px gray;
   padding: 15px 15px 35px 15px;
}
.sec-3-parent img{
    width: 260px;
    height: 200px;
    margin-bottom: 20px;
}
.sec-3-parent h4{
    font-size: 23px;
    font-weight: 200;
    margin-bottom: 15px;
}
.sec-3-parent p{
    line-height: 25px;
    margin-bottom: 30px;
}
.sec-3-parent a{
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 74px;
    font-size: 15px;
    border-radius: 7px;
    background-color: blue;
    color: white;
    border-color: rgb(8, 8, 166);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    transition: 0.3s;
}
.sec-3-parent a:hover{
    background-color:rgb(8, 8, 166);
    border-color: rgb(8, 8, 166);
}

.sec-3-container .a{
    text-decoration: none;
    border: 1px solid blue;
    padding: 15px 550px;
    font-size: 18px;
    margin-left: 17px;
    border-radius: 7px;
    background-color: blue;
    color: white;
    transition: 0.3s;
}
.sec-3-container .a:hover{
    background-color:rgb(8, 8, 166);
    border-color: rgb(8, 8, 166);
}

/* footer section start  */


footer{
    background-color: rgba(0, 0, 0, 0.802);
    margin-top: 80px;
}
.footer-sec-container{
    margin-top: 50px;
    margin-left: 250px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.footer-sec-content{
    display: flex;
}
.footer-sec-parent-1{
    width: 250px;
    color: white;
}
.footer-sec-parent-1 h4{
    font-size: 22px;
    margin-bottom: 15px;
}
.footer-sec-parent-1 p{
    line-height: 40px;
}
.footer-sec-parent-2{
    width: 600px;
    margin-left: 80px;
}
.footer-sec-parent-2 input{
    padding: 10px 223px 10px 15px;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom: 70px;
}
.footer-sec-parent-2 input:focus{
    background-color: rgb(8, 8, 166);
    color: white;
}
.footer-sec-parent-2 a{
    text-decoration: none;
    padding: 15px 40px;
    margin: 0 170px 0 170px;
    font-size: 15px;
    border-radius: 7px;
    background-color: blue;
    color: white;
    border-color: rgb(8, 8, 166);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    transition: 0.3s;
}
.footer-sec-parent-2 a:hover{
    background-color:rgb(8, 8, 166);
    border-color: rgb(8, 8, 166);
}
.footer-sec-parent-3{
    width: 600px;
    color: white;
    margin-left: 70px;
}
.footer-sec-parent-3 h4{
    font-size: 22px;
    margin-bottom: 25px;
}
.footer-sec-parent-3 p{
    line-height: 30px;
   padding-right: 150px;
}

